@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

:root{
      --cor0: black;
      --cor1: white;
      --cor2: rgb(255, 145, 0);
      --cor3: rgb(255, 174, 0);
      --cor4: rgb(155, 88, 0);
      --cor5: rgb(82, 1, 136);


      --fonte-padrao: Kanit;
}

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    background-color: var(--cor1);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 50px;
}

        body{
            background-color: var(--cor0);
        }

        header{      
            margin: 0px 10px 0px 10px;
        }

        nav{
            display: flex;
        }

        div.bloco {
            background-image: url('imagens/logo\ 007.png');
            background-image: linear-gradient();
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 10px;
            height: 278px;
        }

        .wiki {
            background-color: var(--cor3);  
            border-radius: 7px; 
            color: var(--cor4);
            font-family: Kanit;
            font-size: 30px;
            font-weight: bold;
            margin-top: 10px;
            margin-left: 580px;
            margin-bottom: 10px;
            margin-right: 215px;
            text-decoration: none;
            text-align: center;
            width: 100px;
            padding: 3px 10px 3px 10px;
        }

        .ipp{
            background-color: rgb(255, 174, 0);
            border-radius: 7px;
            color: rgb(155, 88, 0);
            font-family: kanit;
            font-size: 23px;
            font-weight: bold;
            text-align: center;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
        }

        .ipp:hover{
            background-color: rgb(255, 215, 85);
        }


        .icon{
            background-color: rgb(69, 69, 236);
            border-radius: 6px;
            margin: 10px 0px 0px 0px;
            text-align: right;
            padding: 9px 13px 9px 13px;
            width: 40px;
            height: 39px;
        }

        .icon:hover{
            background-color: rgb(115, 115, 250);
        }

        header{
            color: var(--cor1);
        }

        main{
            color: white;
        }

        main > a{
            color: var(--cor4);
            font-family: kanit;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
        }

        .catego{
            background-image: linear-gradient(to bottom, rgb(32, 0, 121), rgb(99, 0, 192));
            border-radius: 8px;
            box-sizing: border-box;
            display: block;
            font-family: kanit;
            text-align: center;
            margin: 73px 0px 0px 5px;
            height: 51px;
            width: 300px;
        }

        .icone{
            padding: 14px 8px 14px 0px;
            vertical-align: middle;
            width: 23px;
            height: 23px;
        }

        .regras{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 20px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .regras:hover{
            background-color: rgb(255, 175, 26);
        }

        .perguntas{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .perguntas:hover{
            background-color: rgb(255, 175, 26);
        }

        .spawn{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .spawn:hover{
            background-color: rgb(255, 175, 26);
        }

        .lojas{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .lojas:hover{
            background-color: rgb(255, 175, 26);
        }

        .quests{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .quests:hover{
            background-color: rgb(255, 175, 26);
        }

        .mundos{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .mundos:hover{
            background-color: rgb(255, 175, 26);
        }

        .biomas{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .biomas:hover{
            background-color: rgb(255, 175, 26);
        }

        .arvore{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .arvore:hover{
            background-color: rgb(255, 175, 26);
        }

        .novos_itens{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .novos_itens:hover{
            background-color: rgb(255, 175, 26);
        }

        .plantacoes{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .plantacoes:hover{
            background-color: rgb(255, 175, 26);
        }

        .comidas{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .comidas:hover{
            background-color: rgb(255, 175, 26);
        }

        .mobs{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .mobs:hover{
            background-color: rgb(255, 175, 26);
        }

        .boss{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .boss:hover{
            background-color: rgb(255, 175, 26);
        }

        .dungeons{
            background-color: var(--cor2);
            border-radius: 8px;
            box-sizing: border-box;
            display: inline-block;
            margin: 5px 0px 0px 15px;
            padding: 0px 0px 0px 20px;
            height: 48px;
            width: 280px;
        }

        .dungeons:hover{
            background-color: rgb(255, 175, 26);
        }